* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

main{
    width:960px;
    margin:50px auto;
}

ul{
    padding-top:50px;
    padding-bottom:50px;
    list-style: none;
}

li:nth-child(odd){
    background-color: gray;

}

.list-item{
    padding-top:20px;
    padding-left:20px;
    padding-bottom:20px;
}

.contents{
  column-gap:5%;
  row-gap:40px;
  margin:50px auto;
  display:flex; 
  flex-wrap:wrap;  
}

.content-item{
  height:200px;
  width:30%;
  background-color:yellow;
}

.content-item:first-child,
.content-item:nth-child(5),
.content-item:last-child{
    background-color:orange;
}